<div class="row">
  <!--Review form-->
  <div class="col s12 m8 l8">
    <h2>Review details</h2>

    <div id="review-error-messages">

    </div>

    <%= form_for @product_vivieu, html: { class: 'review-form'}, url: "/product_vivieus/#{@product_vivieu.id}", remote: true do |f| %>
        <div class="row">
          <div class="col s12 input-field">
            <%= f.text_field :title, required: true, data: {validation: 'required'} %>
            <%= f.label :title %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <%= f.text_area :description, data: {validation: 'required'}, class: 'materialize-textarea' %>
            <%= f.label :description %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <%= f.text_field :tags, data: {validation: 'required'} %>
            <%= f.label :tags %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <%= f.text_field :youtube_url %>
            <%= f.label :youtube_url, 'YouTube Video ID' %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <a class="modal-trigger-youtube waves-effect waves-light btn youtube-button" href="#youtube-videos-modal">Modal</a>
          </div>
        </div>



        <div class="row">
          <div class="col s12 input-field">
            <%= f.text_field :affiliate_link %>
            <%= f.label :affiliate_link,
                        'Your affiliate link goes here', placeholder: 'http://',
                        data: { validation: 'url',
                                error: 'Must be a valid link',
                                suggestion: 'Should start with http or https'} %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <%= f.text_field :affiliate_tag %>
            <%= f.label :affiliate_tag %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <%= f.submit 'Save' %>
          </div>
        </div>
    <% end %>
  </div>

  <!--Product form-->
  <div class="col s4">
    <%= render 'product_vivieus/partials/product_form' %>
  </div>

  <div class="append-modal">

  </div>

</div>
<script type="text/javascript" charset="utf-8">

  $('#hello').on('click', function()
  {
    if($('#hello').prop('checked')) {
      alert('checked');
    }
    else
    {
      alert('unchecked');
    }

  });

  $(".youtube-button").on('click', function(){
    $('.append-modal').html("<%= j render partial: 'product_vivieus/partials/youtube_modal',
       locals: { product_vivieu: @product_vivieu } %>")

  });

  $('.modal-trigger-youtube').leanModal({
    ready: function () {
      $.ajax({
        url: '/product_vivieus/<%= @product_vivieu.id %>/youtube_videos',
        dataType: 'json',
        method: 'GET',
        beforeSend: function() {
          $('.youtube-videos').html('<h3 class="flow-text center">Videos loading ...</h3>');
        },
        success: function (data) {
          $('.youtube-videos').empty().append('<input type="text" class="text-input" placeholder="Filter results" id="filter" value="" />');
          for(var i = 0; i < data.youtube_videos.length; i++)
          {
            $('.youtube-videos').append("<li class='titles flow-text' data-id='"+ data.youtube_videos[i].id +"'>"+ data.youtube_videos[i].title +"<span class='badge badge-click blue white-text' data-badge-caption=''>Add</span></li>");
          }
          live_search();
          badge_click();
        },
        timeout: 15000,
        error: function(jqXHR, textStatus, errorThrown) {
          if(textStatus==="timeout") {
            $('.youtube-videos').empty().append('<h3 class="flow-text center red">Looks like there was a connection timeout.' +
                ' Try again or put the YouTube ID manually'+'</h3>');
          }
        }
      });
    }
  });

  function live_search(){
    $("#filter").keyup(function(){
      // Retrieve the input field text and reset the count to zero
      var filter = $(this).val(), count = 0;

      // Loop through the comment list
      $(".titles").each(function(){

        // If the list item does not contain the text phrase fade it out
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
          $(this).fadeOut();

          // Show the list item if the phrase matches and increase the count by 1
        } else {
          $(this).show();
          count++;
        }
      });

      // Update the count
      var numberItems = count;
      $("#filter-count").text("Number of Comments = "+count);
    });
  }

  function badge_click()
  {
    $('.badge-click').css('cursor', 'pointer');
    $('.badge-click').on('click', function(){
      $('#review_youtube_url').val($(this).parent().data('id'))
      Materialize.updateTextFields();
      $('#youtube-videos-modal').closeModal();
    });
  }

</script>
<script type="text/javascript" charset="utf-8">
  var products = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: 'http://localhost:3000/product_vivieus/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });

  products.initialize();

  $('#query').materialtags({
    maxTags: 1,
    typeaheadjs: {
      hint: true,
      highlight: true,
      minLength: 1,
      name: 'products',
      source: products.ttAdapter()
    }
  });
  $('#query').on('itemAdded', function(event) {
    $('.add-button-insert').html('<a class="waves-effect waves-light add-product-btn btn" onclick="add_product()">Add Product</a>');
  });
  $('#query').on('itemRemoved', function(event) {
    $('.add-button-insert').empty();
  });

  function add_product(){
    var product_title = $('#query');
    $.ajax({
      method: 'POST',
      url: 'http://localhost:3000/product_vivieus/add_product',
      data: { title: product_title }
    })
  }
</script>