<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>Edit</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :username, data: { validation: 'required'} %>
              <%= f.label :username %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.email_field :email, data: { validation: 'required'} %>
              <%= f.label :email %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.label 'Describe about yourself and/or your channel' %>
              <%= f.text_area :description, class: 'materialize-textarea' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.country_select(:country_code, priority_countries: %w(US CA IN GB DE IT BR FR ES MX CN JP AU NL)) %>
              <%= f.label 'Select your country' %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <p>ONLY AMAZON AFFILIATES - Choose the countries whose affiliate programs you have registered</p>
              <%= f.text_field :affiliate_countries %>
            </div>
          </div>
          <div><%= f.submit "Sign up" %></div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $.validate({
    form : "#edit_user"
  });
  var citynames = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
      /*Todo change to vivieu in production*/
      url: 'http://localhost:3000/assets/affiliate_countries.json',
      filter: function(list) {
        return $.map(list, function(cityname) {
          return { name: cityname };
        });
      }
    }
  });

  citynames.initialize();

  $('#user_affiliate_countries').materialtags({
    typeaheadjs: {
      name: 'affiliate_countries',
      displayKey: 'name',
      valueKey: 'name',
      source: citynames.ttAdapter()
    }
  });
</script>