<h1>Admin Dashboard</h1>
<% products = Product.order('created_at DESC') %>

<% products.each do |product| %>
    <%= link_to truncate(product.title, length: 20), product_path(product) %>
    <br>
    <%= link_to 'Create a Review', new_review_path(product_id: product.id) %>
    <br>
<% end %>


--------------
<% Review.all.each do |review| %>
    <%= link_to review.title, review_url(review) %>
<% end %>

<% res = Amazon::Ecs.item_lookup('1408845644', {response_group: 'Medium, BrowseNodes'}) %>




<br>
<br>

<% varr = res.get_elements('Feature') %>
<% unless varr.nil? %>
    <% p varr.each do |qqqqqq| %>
        <%= p qqqqqq.inspect %>
    <% end %>
<% end %>

<% #res.get_elements('Feature').marshal_dump %>
<%# Amazon::Ecs.browse_node_lookup("34").marshal_dump %>
<% qqq = res.get_elements('BrowseNode') %>
<% arr = [] %>
<% qqq.each do |node| %>
    <%= node.get('Name').to_s %>
    <%= node.get('IsCategoryRoot') %>
    <% arr.push(node.get('Name').to_s.gsub('&amp;', 'and')) %>
    <% arr.push(node.get('IsCategoryRoot')) unless node.get('IsCategoryRoot').blank? %>
    <br>
<% end %>
====

<br>
<br>
<%= arr[arr.index('1') + 1].to_s %>




