<h2 class="center flow-text">Edit form</h2>
<br>
<%= form_for @product, validate: true do |f| %>
    <div class="row" id="normal_form">
      <div class="input-field col s12">
        <%= f.select(:category_id, Category.select)%>
        <%= f.label :category %>
      </div>
    </div>

    <div class="row" id="normal_form">
      <div class="input-field col s12">
        <%= f.label :title %>
        <%= f.text_field :title, required: true %>
      </div>
    </div>

    <div class="row" id="normal_form">
      <div class="input-field col s12">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'materialize-textarea', required: true %>
      </div>
    </div>

    <div class="row" id="normal_form">
      <div class="input-field col s12">
        <%= f.label :company %>
        <%= f.text_field :company, required: true %>
      </div>
    </div>

    <div class="row" id="normal_form">
      <div class="input-field col s12">
        <%= f.label :tags %>
        <%= f.text_field :tags, required: true %>
      </div>
    </div>



    <%= f.submit 'Submit Product Description' %>
<% end %>