<h2 class="center flow-text title-imp">Edit Product Form</h2>
<br>
<div class="container">
  <%= form_for @product, validate: true do |f| %>

      <%= f.hidden_field :review_id, value: params[:review_id] %>

      <div class="row" id="normal_form">
        <div class="input-field col s12">
          <%= f.select(:category_id, Category.select) %>
          <%= f.label :category %>
        </div>
      </div>

      <div class="row" id="normal_form">
        <div class="input-field col s12">
          <%= f.label :title %>
          <%= f.text_field :title, data: { validation: 'required'} %>
        </div>
      </div>

      <div class="row" id="normal_form">
        <div class="input-field col s12">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'materialize-textarea', data: { validation: 'required'} %>
        </div>
      </div>

      <div class="row" id="normal_form">
        <div class="input-field col s12">
          <%= f.label :company %>
          <%= f.text_field :company, data: { validation: 'required'} %>
        </div>
      </div>

      <div class="row" id="normal_form">
        <div class="input-field col s12">
          <%= f.label :tags %>
          <%= f.text_field :tags,data: { role: 'materialtags'}, data: { validation: 'required'} %>
        </div>
      </div>

      <div class="row" id="normal_form">
        <div class="input-field col s12">
          <%= f.label :product_images %>
          <%= f.text_field :product_images %>
        </div>
      </div>


      <button class="btn waves-effect waves-light" type="submit" name="action">Submit Product Description
        <i class="material-icons right">send</i>
      </button>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
  $('#product_category_id').material_select();
  $('#product_tags').materialtags();
  $.validate({
    form : "#<%= action_name.to_s %>_<%= controller_name.singularize.to_s %>"
  });
</script>