<div class="container">
  <div class="row product-info">
    <div class="col s12 m5">
      <div class="product-card card blue darken-3">
        <div class="card-content white-text">
          <% if params[:review_id].present? %>
              <% review = Review.find(params[:review_id]) %>
              <%= link_to 'Back to Review Page', edit_product_vivieu_path(review) %>
              <%= link_to 'Edit this page', edit_product_path(@product, review_id: review.id) %>
          <% end %>
          <h4 class="white-text"><%= @product.title %></h4>
          <!-- <p><i class="material-icons">work</i><%= @product.company.titleize %></p> -->
          <div class="divider">
          </div>
          <br>
          <% unless @product.user_id.nil? %>
              <p>Added by: <%= link_to User.find(@product.user_id).username, user_path %></p>
          <% else %>
              <p>Added from Amazon</p>
              <p>ASIN: <%= @product.asin %></p>
          <% end %>
          <br>
          <% @product.tags.split(',').each_with_index do |tag, index| %>
              <% if index > 5 %>
                  <% break %>
              <% end %>

              <div class="blue white-text chip">
                <%= tag.to_s %>
              </div>
          <% end %>
        </div>
        <div class="card-action">
          <%= link_to 'Add a review', new_review_path %>
          <%= link_to 'Wrong product', new_product_path %>
        </div>


      </div>
    </div>

    <div class="col s12 m7">
      <div class="slider">
        <ul class="slides">
          <% @product.product_images.split(',').each do |image|%>
              <li class='card product-card'>
                <img src="<%= image.to_s %>" alt="<%= @product.title %> from amazon">
              </li>
          <% end %>
        </ul>
      </div>
    </div>


  </div>
  <!-- <% unless @product.product_images.length < 1 %>
  <div class="col s12 m5 l5">
  <div class="image-box">
  <% if @product.asin.present? %>
  <% if @product.product_images.nil? %>
  <img  src="http://images.amazon.com/images/P/<%= @product.asin %>.01.LZZZZZZZ.jpg" alt="Amazon Image" />
  <% else %>
  <% @product.product_images.split(',').each do |image|%>
  <img src="<%= image.to_s %>" alt="<%= @product.title %> from amazon">
  <% end %>
  <% end %>
  <% else %>
  <% @product.product_images.split(',').each do |image|%>
  <img src="<%= image.to_s %>" alt="<%= @product.title %>">
  <% end %>
  <% end %>
</div>
</div>
<br>
<% else %>
<div class="col s12 m5 l5">
<%= image_tag('no.png', alt: 'No image supplied for this product') %>
</div>
<% end %> -->


  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title blue-text">Description</span>

          <div class="">
            <%= @product.description.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <h2 class="flow-text">Related Video Reviews</h2>

    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <span class="card-title blue-text">Related Video Reviews</span>
            <div class="row">
              <% if @product.reviews.count == 0 %>
                  <p class="flow-text center">No reviews of this product yet</p>
              <% else %>
                  <% @product.reviews.each do |review| %>
                      <%= link_to review.title, review_path(review) %>
                  <% end %>
              <% end %>
            </div>
            <% @product.tags.split(',').each_with_index do |tag, index| %>
                <% if index > 5 %>
                    <% break %>
                <% end %>
                <div class="blue darken-4 white-text chip">
                  <%= tag.to_s %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <h4 class="blue-text text-darken-3">Related Products</h4>

      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Casio_F-91W_digital_watch.jpg/800px-Casio_F-91W_digital_watch.jpg'>
          </div>
          <div class="card-content">
            <span class="blue-text text-darken-4 card-title">Casio Watch</span>
            <p>Sold by Amazon</p>
            <p>$99.99</p>
          </div>
          <div class="card-action">
            <%= link_to 'Buy Now' %>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Casio_F-91W_digital_watch.jpg/800px-Casio_F-91W_digital_watch.jpg'>
          </div>
          <div class="card-content">
            <span class="blue-text text-darken-4 card-title">Casio Watch</span>
            <p>Sold by Amazon</p>
            <p>$99.99</p>
          </div>
          <div class="card-action">
            <%= link_to 'Buy Now' %>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Casio_F-91W_digital_watch.jpg/800px-Casio_F-91W_digital_watch.jpg'>
          </div>
          <div class="card-content">
            <span class="blue-text text-darken-4 card-title">Casio Watch</span>
            <p>Sold by Amazon</p>
            <p>$99.99</p>
          </div>
          <div class="card-action">
            <%= link_to 'Buy Now' %>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Casio_F-91W_digital_watch.jpg/800px-Casio_F-91W_digital_watch.jpg'>

          </div>
          <div class="card-content">
            <span class="blue-text text-darken-4 card-title">Casio Watch</span>
            <p>Sold by Amazon</p>
            <p>$99.99</p>
          </div>
          <div class="card-action">
            <%= link_to 'Buy Now' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
