<h1>Edit Re</h1>

<%= form_for @review do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :title, required: true, data: {validation: 'required'} %>
        <%= f.label :title %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :description, data: {validation: 'required'}, class: 'materialize-textarea' %>
        <%= f.label :description %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :tags, data: {validation: 'required'} %>
        <%= f.label :tags %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.select(:reviewgroup_id, Reviewgroup.select(current_user), include_blank: 'Select a saved group') %>
        <%= f.label 'Select Review group' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :youtube_url, placeholder: 'http://',
                         data: { validation: 'length',
                                 validation_length: '11-11',
                                 :validation_error_msg => 'Must be a 11 character YouTube ID'} %>
        <%= f.label :youtube_url, 'YouTube Video ID' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :affiliate_link %>
        <%= f.label :affiliate_link, 'Your affiliate link goes here', placeholder: 'http://', data: { validation: 'url', error: 'Must be a valid link', suggestion: 'Should start with http or https'} %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.submit 'Save Review' %>
      </div>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $.validate({
    form : "#<%= action_name.to_s %>_<%= controller_name.singularize.to_s %>"
  });
  $('#review_reviewgroup_id').material_select();
  $('#review_tags').materialtags();

</script>