<% user = User.find(@review.reviewer_id) %>
<link rel="author" href="<%= user.google_plus %>">
<script type="text/javascript" charset="utf-8">
</script>
<div class="row">
  <div class="col s12 m8 l8 review-panel">
    <h1 class="flow-text center"><%= @review.title %></h1>

    <div class="video">
      <iframe width="854" height="480"
              src="https://www.youtube.com/embed/<%= @review.youtube_url %>">
      </iframe>

    </div>
    <div class="chip">

      <%= link_to user.username, user_path(user) %>
    </div>
    <%= link_to 'Visit product website',  redirect_to_website_review_path(affiliate_website: @review.affiliate_link), class: 'link-website', method: :post, target: '_blank'%>

    <%= simple_format(SimpleText.new(@review.description, @review).get_text, class: 'flow-text review-description') %>


    <div class="related-reviews">
      <% related_reviews =  Review.where(reviewer_id: @review.reviewer_id).where('id != ?', @review.id).all %>
      <% if related_reviews.size == 0 %>
          <p class="center flow-text">No other reviews by this reviewer</p>
      <% else  %>

          <% related_reviews.take(4).each do |review| %>
              <div class="card col s12 m6 l3" style="min-height: 270px !important">
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="http://i3.ytimg.com/vi/<%= review.youtube_url %>/hqdefault.jpg">
                </div>
                <div class="card-content">
                  <h6><%= link_to truncate(review.title, length: 50), review_path(review) %></h6>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>




    <script type="text/javascript">
      amzn_assoc_placement = "adunit0";
      amzn_assoc_tracking_id = "raaaaj5000-20";
      amzn_assoc_ad_mode = "manual";
      amzn_assoc_ad_type = "smart";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
      amzn_assoc_title = "My Amazon Picks";
      amzn_assoc_linkid = "86b164ce94b0977a4be1dc4748d2d352";
      amzn_assoc_asins = "1338099132,B00AP06III,059035342X,0545162076";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  </div>


  <div class="col s12 m4 l4">
    <h1 class="flow-text center">Product Overview</h1>

    <div class="row">
      <div class="product-name col s12">
        <h2 class="flow-text title-imp center"><%= @review.reviewfiable.title %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col s12 center">
        <a class="modal-trigger waves-effect waves-light btn" href="#modal1">View Full Description</a>
      </div>
    </div>

    <% product = Product.joins(:reviews).where(reviews: { id: @review.id}).first %>
    <% unless product.product_images.nil? %>
        <div class="row">
          <div class="center col s12">
            <div class="carousel">

              <% product.product_images.split(',').each do |image| %>
                  <img class="carousel-item" src="<%= image %>">
              <% end %>

            </div>
          </div>
        </div>
    <% end %>

    <% if product.reviews.count > 1 %>
        <div class="row">
          <div class="col s12">
            <h2 class="flow-text teal-text center">Similar Reviews</h2>
            <ul class="collection">
              <% product.reviews.where.not(id: @review.id).take(4).each do |review| %>
                  <li class="collection-item avatar">
                    <%= link_to review.title do %>
                        <i class="material-icons circle light-blue">play_arrow</i>

                    <% end %>
                    <span class="title truncate"><%= link_to review.title, review_path(review) %></span>
                    <div class="chip">
                      <%= link_to user.username, user_path(user) %>
                    </div>
                  </li>
              <% end %>
            </ul>
            <% if product.reviews.count > 4 %>
                <%= link_to 'View all reviews for this product', product_path(product) %>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col s12 recommended-reviews">
        <h2 class="flow-text center">Recommended Reviews</h2>
        <% unless current_user %>
            <% Review.all.take(10).each do |review| %>
                <%= link_to review.title, review_path(review) %>
            <% end %>
        <% else %>
            <% if current_user.recommended_reviews.count < 10 %>
                <% Review.all.take(10).each do |review| %>
                    <%= link_to review.title, review_path(review) %>
                <% end %>
            <% else %>
                <%  current_user.recommended_reviews.each do |review| %>
                    <%= link_to review.title, review_path(review) %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>



  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="title-imp"><%= @review.reviewfiable.title %></h4>
    <p><%= @review.reviewfiable.description.html_safe %></p>
  </div>
  <div class="modal-footer">
    <small>Click outside of the box to close</small>
    <%= link_to 'View More', product_path(@review.reviewfiable), class: 'modal-action modal-close waves-effect light-blue btn-flat' %>
  </div>
</div>

<div class="container">
  <%= commontator_thread(@review) %>
</div>

<% unless user_signed_in? %>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Login Required</h4>
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
      </div>
      <div class="modal-footer">
        <small>Click outside the box to close</small>
      </div>
    </div>
<% end %>
<script type="text/javascript" charset="utf-8">
  $('.modal-trigger').leanModal();
  $('.carousel').carousel();
  $('.review-description').find('.external_link').each(function(index)
  {
    var text = $(this).text();
    $(this).html('<a class="link-website" target="_blank" rel="nofollow" data-method="post" href="/reviews/<%= @review.slug %>/redirect_to_website?affiliate_website=<%= @review.affiliate_link %>">'+ text +'</a>')
  });


</script>