<nav >
  <div class="main-nav nav-wrapper blue darken-4">
    <a href="/" class="brand-logo">Viveau</a>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>




    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>

      <li>
        <form>
          <div class="input-field search-field ">
            <input id="search-nav" type="search" placeholder="search for a review" class="blue black-text" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li>

      <!-- dropdown menu  -->
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to 'Dashboard', user_path(current_user) %></li>
        <li><%= link_to 'Create a review', '#review-title-modal', class: "modal-trigger" %></li>
        <li><%= link_to 'Settings', edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      </ul>

      <!-- dropdown-trigger -->
      <li>
        <a href="#" class="dropdown-button" data-activates="dropdown1">
          <i class="large material-icons left">perm_identity</i><i class="material-icons left">arrow_drop_down</i>
        </a>
      </li>

      <% else %>
      <li><%= link_to 'Log In', "#login-modal", class: "btn blue modal-trigger"%></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
      <li><%= link_to 'Dashboard', user_path(current_user) %></li>
      <li><%= link_to 'Create a review', '#', class: "modal-trigger" %></li>
      <li><%= link_to 'Settings', edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
     <% else %>
     <li><%= link_to 'Log In', "#login-modal", class: "btn blue modal-trigger"%></li>
     <% end %>
   </ul>


  </div>
</nav>


<!-- modal content  -->
<div id="login-modal" class="purple darken-4 white-text center modal">
  <div class="modal-content">
    <h4>Log In</h4>
    <p>Sign in with the one and only Google.</p>
    <p>Fast and Secure!</p>
    <%= link_to 'Google', user_google_oauth2_omniauth_authorize_path,
    class: "modal-action modal-close btn purple-text white" %>
  </div>
</div>
