<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper main-nav blue darken-4">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="hide-on-med-and-down buttons">
        <li class="left"><a href="/" class="brand-logo left hide-on-med-and-down">Vivieu</a></li>

        <% if user_signed_in? %>
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to 'Dashboard', user_path(current_user) %></li>
          <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        </ul>


        <li class="right bold-text">
          <a href="#" class="dropdown-button" data-activates="dropdown1">
            <%= image_tag current_user.avatar, class: 'circle nav-avatar responsive-img left' %><%= current_user.username %><i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <% else %>
         <li class="right"><a class="btn red modal-trigger" href="#modal1">Log In</a></li>
        <% end %>


        <li class="right"><a  href="#search"><i class="material-icons">search</i>
        </a></li>

        <div id="search">
          <span class="close">x</span>
          <form role="search" id="searchform" action "/search" method="get">
            <input value="" name="q" type="search" placeholder="type to search"/>
          </form>
        </div>

      </ul>




      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>

        <div class="mobile-profile orange darken-1">
          <li class="mobile-heading">Hello</li>
          <li><%= image_tag current_user.avatar, class: "circle nav-avatar" %></li>
          <%= current_user.username %>

        </div>
        <li>

          <div class="divider">
          </div>
        </li>

        <li><%= link_to 'Dashboard' %></li>
        <li><%= link_to 'Profile' %></li>
        <li class="divider"></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>

        <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<!-- modal content  -->
<div id="modal1" class="purple darken-4 center modal">
  <div class="purple darken-4 modal-content white-text">
    <h4>Log In</h4>
  </div>
  <div class="white modal-content">
    <p>Sign in with the one and only Google.</p>
    <p>Fast and Secure!</p>
    <%= link_to 'Google', user_google_oauth2_omniauth_authorize_path,
    class: "modal-action modal-close btn purple darken-4" %>
  </div>
  </div>
</div>
