<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper main-nav blue darken-4">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="hide-on-med-and-down buttons">
        <li class="left"><a href="/" class="brand-logo left hide-on-med-and-down">Vivieu</a></li>



        <% if user_signed_in? %>
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to 'Dashboard', user_path(current_user) %></li>
          <li>  <a class="modal-trigger waves-effect waves-light" href="#review-title-modal">Create a Review</a></li>
          <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        </ul>


        <li class="right bold-text">
          <a href="#" class="dropdown-button" data-activates="dropdown1">
            <%= current_user.username %><i class="large material-icons right">perm_identity</i><i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <% else %>
        <a class="btn red modal-trigger right" href="#login-modal">Log In</a>
        <% end %>
        
        <li class="right"><form class="nav-search-bar">
          <div class="input-field">
            <input id="search" type="search" placeholder="search for a review" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form></li>
      </ul>


      <ul class="side-nav" id="mobile-demo">
        <% if user_signed_in? %>
        <li id="logo"><%= link_to 'Vivieu', root_path %></li>
        <li>
          <div class="divider">
          </div>
        </li>
        <li>
          <form class="mobile-search" method="get" action="/search">
            <div class="input-field">
              <input  id="search" type="search" placeholder=" search" required>
              <label for="search"><i class="black-text material-icons right">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li><%= link_to 'Dashboard' %></li>
        <li><%= link_to 'Profile' %></li>
        <li class="divider"></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>

        <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<!-- modal content  -->
<div id="login-modal" class="purple darken-4 white-text center modal">
  <div class="modal-content">
    <h4>Log In</h4>
    <p>Sign in with the one and only Google.</p>
    <p>Fast and Secure!</p>
    <%= link_to 'Google', user_google_oauth2_omniauth_authorize_path,
    class: "modal-action modal-close btn purple-text white" %>

  </div>
</div>
