<nav>
  <div class="grey lighten-4 center nav-wrapper sub-nav-bar">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><%= link_to 'All' %></li>
      <li><%= link_to 'Electronics' %></li>
      <li><%= link_to 'Fashion' %></li>
      <li><%= link_to 'Athletics' %></li>
      <li><%= link_to 'Toys' %></li>
      <li><%= link_to 'Makeup' %></li>
      <li><%= link_to 'Animals' %></li>
      <li><%= link_to 'Automobiles' %></li>
    </ul>
  </div>


</nav>
